@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
body {
  @apply bg-background text-text font-body;
}

.node-wave {
  fill: #7B7B7A;
  animation: wave linear infinite;
}

@keyframes wave {
  0% {
    fill: #7B7B7A;
    filter: none;
  }

  5% {
    fill: #7A5CFF;
    filter: drop-shadow(0 0 8px #7A5CFF);
  }

  10% {
    fill: #7B7B7A;
    filter: none;
  }

  100% {
    fill: #7B7B7A;
    filter: none;
  }
}