@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
body {
  @apply bg-background text-text font-body;
}


.node-wave {
  fill: #7B7B7A;
  animation: wave var(--duration, 3s) linear infinite;
}

/* Main wave */
@keyframes wave {
  0% {
    fill: #7B7B7A;
    filter: none;
  }

  12% {
    fill: #7A5CFF;
    filter: drop-shadow(0 0 8px #7A5CFF);
  }

  25% {
    fill: #7B7B7A;
    filter: none;
  }

  100% {
    fill: #7B7B7A;
    filter: none;
  }
}